.router-slid-enter-active,
.router-slid-leave-active {
    transition: all 0.4s;
}

.router-slid-enter,
.router-slid-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}

.rating_page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 202;
    p,
    span {
        font-family: Helvetica Neue, Tahoma, Arial;
    }
}

.wrap{
    display: flex;
    align-items: center;
}
.adddetail {
    margin-top: 0.05rem;
    @include borderRadius(10px);
    background: $fc;
    height: 98%;
}

.ui-padding-block {
    .add-detail {
        display: block;
    }
    .input-new {
        @include wh(100%, 0.45rem);
        padding: 0 0 0 0.12rem;
        display: flex;
        @include sc(0.15rem, $g6);
        border-bottom: 1px solid $bc;
        span {
            width: 0.7rem;
            line-height: 0.45rem;
            margin-right: 0.14rem;
        }
        input {
            display: flex;
            width: 2.7rem;
            font-size: 0.15rem;
        }
        .verifies {
            border-color: #ea3106;
        }
        p {
            @include sc(0.08rem, #ea3106);
            padding-left: 0.1rem;
            margin-top: 0.04rem;
        }
    }
    .input-new:nth-of-type(4) {
        height: 0.9rem;
        textarea {
            padding: 0.15rem 0 0 0;
            width: 2.7rem;
            font-size: 0.15rem;
        }
    }
    .input-new:last-child {
        display: flex;
        justify-content: space-between;
        p{
            @include sc(.15rem,$g6);
            line-height: .45rem;
            margin: 0;
            padding: 0;
        }
    }
}

.addbutton {
    margin: 0.31rem auto 0.73rem auto;
    width: 3.5rem;
    button {
        width: 100%;
        @include sc(0.15rem, $fc);
        line-height: 0.45rem;
        background: $red;
        font-weight: 700;
        @include borderRadius(0.23rem);
    }
    .butopacity {
        transition: all 0.4s;
        opacity: 1;
    }
}

.delete-address {
    @include wh(0.43rem, 0.43rem);
    @include bis("../../../images/add-delete.png");
    margin: 0 auto;
}