.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.confirmOrderContainer {
    padding-bottom: 0.49rem;
}

.line-through {
    text-decoration: line-through;
}

.mask_box {
    background-color: rgba(0, 0, 0, 0.3);
    @include wh(100%, 0rem);
    position: fixed;
    top: 0;
    z-index: 3;
}

.shop_list_container {
    background-color: $bc;
    .swiper-container {
        padding-bottom: 0.15rem;
        .topBG {
            @include wh(100%, 0.83rem);
            @include bis("../../images/gwc-bg.png");
        }
        .address_info {
            background-color: $fc;
            width: 95%;
            position: relative;
            margin: -0.48rem auto 0;
            padding: 0.2rem 0.15rem 0.2rem 0.47rem;
            @include fj(space-between);
            border-radius: 10px;
            box-shadow: 0px 1px 13.9px 0.6px rgba(181, 184, 188, 0.51);
            .address-detail {
                position: relative;
                width: 97%;
                p {
                    line-height: 1.6;
                    @include sc(0.15rem, $g3);
                    span {
                        display: inline-block;
                        @include sc(0.15rem, $g3);
                    }
                }
                p:nth-of-type(1) {
                    margin-bottom: 0.15rem;
                }
                .tips {
                    @include sc(.13rem, $g9);
                    line-height: 1.9;
                    overflow: hidden;
                    clear: both;
                    border-top: .01rem solid $bc;
                    padding-top: .1rem;
                    span {
                        @include sc(.13rem, $g9);
                    }
                    span:nth-child(odd) {
                        width: 69%;
                    }
                }
                .address-tuan {
                    width: 93%;
                }
                .icon {
                    width: .165rem;
                    float: left;
                    margin-top: .03rem;
                }
                .tip_box {
                    @include wh(2.8rem, .67rem);
                    @include sc(.12rem, $red);
                    display: block;
                    padding: .1rem .12rem;
                    background: url('../../images/group/tip_box.png') no-repeat 0 0;
                    background-size: 100% 100%;
                    box-sizing: border-box;
                    line-height: 1.45;
                    position: absolute;
                    top: -.57rem;
                    right: -.2rem;
                    z-index: 4;
                    pointer-events: none;
                }
            }
            .address-detail:before {
                content: "";
                position: absolute;
                left: -0.28rem;
                top: 0rem;
                @include bis("../../images/gwc-icon-add.png");
                @include wh(0.16rem, 0.22rem);
            }
            .deletesite {
                position: absolute;
                right: 0rem;
                padding-top: 0.1rem;
                @include wh(.35rem, .5rem);
                display: flex;
                justify-content: center;
                span {
                    @include wh(0.1rem, 0.175rem);
                    @include bis("../../images/path.png");
                }
            }
        }
        .no_address {
            .adddetail {
                margin-top: 0.11rem;
                @include borderRadius(10px);
                background: $fc;
            }
            .ui-padding-block {
                .add-detail {
                    display: block;
                }
                .input-new {
                    @include wh(100%, 0.45rem);
                    padding: 0 0 0 0.12rem;
                    display: flex;
                    @include sc(0.15rem, $g6);
                    border-bottom: 1px solid $bc;
                    span {
                        width: 0.7rem;
                        line-height: 0.45rem;
                        margin-right: 0.14rem;
                    }
                    input {
                        display: flex;
                        width: 2.7rem;
                        font-size: 0.15rem;
                    }
                    .verifies {
                        border-color: #ea3106;
                    }
                    p {
                        @include sc(0.08rem, #ea3106);
                        padding-left: 0.1rem;
                        margin-top: 0.04rem;
                    }
                }
                .input-new:nth-of-type(4) {
                    height: 0.9rem;
                    textarea {
                        padding: 0.15rem 0 0 0;
                        width: 2.7rem;
                        font-size: 0.15rem;
                    }
                }
            }
            .addbutton {
                margin: 0.15rem auto;
                width: 3.5rem;
                button {
                    width: 100%;
                    @include sc(0.15rem, $fc);
                    line-height: 0.45rem;
                    background: $red;
                    font-weight: 700;
                    @include borderRadius(0.23rem);
                }
                .butopacity {
                    transition: all 0.4s;
                    opacity: 1;
                }
            }
        }
    }
    .shop_info {
        margin: 0.15rem auto 0;
        width: 95%;
        background-color: $fc;
        padding: 0.2rem 0;
        border-radius: 10px;
        overflow: hidden;
        .goods {
            padding: 0 .15rem;
            li {
                position: relative;
                margin-bottom: 0.26rem;
            }
            .img {
                display: inline-block;
                border-radius: 5px;
                @include wh(0.95rem, 0.945rem);
                vertical-align: middle;
                margin-left: 0.05rem;
            }
            .goods_info {
                display: inline-block;
                .name {
                    @include sc(0.15rem, $g3);
                    top: -0.1rem;
                    position: relative;
                }
                .price {
                    @include sc(0.18rem, $red);
                    font-weight: bold;
                    position: relative;
                    top: 0.38rem;
                }
            }
            .cart_btns {
                position: absolute;
                right: 0.2rem;
                bottom: 0.25rem;
                .num {
                    display: inline-block;
                    text-align: center;
                    @include wh(0.345rem, 0.245rem);
                    @include sc(0.18rem, $g9);
                    vertical-align: top;
                    font-weight: bold;
                }
            }
            .cart_btns2 {
                position: absolute;
                right: 0rem;
                bottom: 0rem;
                display: flex;
                .subduction,
                .num,
                .add {
                    @include wh(0.23rem, 0.23rem);
                    display: inline-flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }
                .num {
                    @include sc(0.18rem, $red);
                    vertical-align: top;
                    margin: 0 0.1rem;
                }
                .subduction {
                    @include bis("../../images/sub-icon.png");
                }
                .subduction.disabled {
                    @include bis("../../images/sub-disable-icon.png");
                }
                .add {
                    @include bis("../../images/add-icon.png");
                }
            }
        }
        .payment_info {
            overflow: hidden;
            clear: both;
            margin: 0 .15rem;
            padding-bottom: .15rem;
            border-bottom: 1px solid $gd;
            li {
                @include wh(100%, 0.35rem);
                line-height: 0.35rem;
                display: flex;
                p {
                    @include sc(0.15rem, $g6);
                }
                p:nth-child(odd) {
                    float: left;
                }
                p:nth-child(even) {
                    flex: 4;
                    text-align: right;
                }
                p.coupon {
                    color: $g9;
                }
            }
        }
        .totalPrice {
            margin: 0.12rem .15rem 0 0;
            color: $g6;
            p {
                display: inline-block;
                @include sc(0.2rem, $g3);
                font-weight: bold;
            }
        }
        .totalPrice.red {
            p {
                color: $red;
            }
        }
        .purchase_num {
            @include wh(100%, .49rem);
            @include sc(.15rem, $g6);
            background-color: $f7;
            padding: 0 .13rem;
            line-height: .49rem;
            .cart_btns {
                margin-top: .15rem;
                display: flex;
                .subduction,
                .num,
                .add {
                    @include wh(0.2rem, 0.2rem);
                    display: inline-flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }
                .num {
                    @include sc(0.18rem, $red);
                    vertical-align: top;
                    margin: 0 0.05rem;
                }
                .subduction {
                    @include bis("../../images/sub-icon.png");
                }
                .subduction.disabled {
                    @include bis("../../images/sub-disable-icon.png");
                }
                .add {
                    @include bis("../../images/add-icon.png");
                }
            }
        }
        .input-new {
            padding: 0 .15rem;
        }
    }
}

.settlement {
    position: fixed;
    bottom: 0;
    line-height: 0.49rem;
    background-color: $fc;
    border-top: solid 1px $bc;
    @include wh(100%, 0.49rem);
    overflow: hidden;
    li {
        float: right;
        text-align: center;
    }
    li:nth-child(2) {
        text-align: left;
        padding-right: 0.12rem;
        @include sc(0.15rem, $g6);
        .red {
            @include sc(0.18rem, $red);
            font-weight: 600;
        }
    }
    li:nth-child(1) {
        width: 30.33%;
        @include sc(0.15rem, $fc);
        background-color: $red;
    }
    .unselected {
        border-radius: 50%;
        display: inline-block;
        border: 1.5px solid $g9;
        @include wh(0.19rem, 0.19rem);
        vertical-align: text-bottom;
    }
    .selectAll {
        @include bis("../../images/selected.png");
        display: inline-block;
        @include wh(0.19rem, 0.19rem);
        vertical-align: text-bottom;
    }
}

.load_more {
    @include wh(100%, 0.36rem);
    @include sc(0.15rem, $g6);
    background-color: $f7;
    text-align: center;
    line-height: 0.36rem;
}

.shop_info.margin-t-p3 {
    margin-top: .3rem;
}

.groupSuitType {
    @include wh(103%, .45rem);
    overflow: hidden;
    line-height: .45rem;
    margin-top: .12rem;
    border-top: .01rem solid $bc;
    .left {
        @include sc(.15rem, $g6);
    }
    .right {
        span {
            display: inline-flex;
            @include sc(.15rem, $red);
        }
        img {
            @include wh(.1rem, 0.175rem);
            vertical-align: text-top;
            margin-left: .05rem;
        }
    }
}

.suitTypeBox {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: $fc;
    border-radius: .1rem .1rem 0 0;
    @include wh(100%, 2.75rem);
    .title {
        @include sc(.18rem, $g3);
        font-weight: bold;
        height: .45rem;
        line-height: .45rem;
        border-bottom: .01rem solid $bc;
        padding: 0 0 0 .15rem;
        p.right {
            @include wh(.5rem, .45rem);
            line-height: .5rem;
            text-align: right;
            padding: 0 .15rem 0 0;
            img {
                width: .15rem;
            }
        }
    }
    .levels {
        overflow: hidden;
        clear: both;
        padding: .05rem .15rem;
        .label {
            @include wh(1rem, .275rem);
            @include sc(.15rem, $g9);
            border: .01rem solid $g9;
            border-radius: .025rem;
            margin: .12rem .22rem .12rem 0;
            text-align: center;
            line-height: .275rem;
            float: left;
        }
        .label.selected {
            @include sc(.15rem, $red);
            border: .01rem solid $red;
        }
    }
}