.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.confirmOrderContainer {
    padding-bottom: 0.49rem;
}

.shop_list_container {
    background-color: $bc;
    .swiper-container {
        padding-bottom: 0.15rem;
        .topBG {
            @include wh(100%, 0.83rem);
            @include bis("../../images/gwc-bg.png");
        }
        .address_info {
            background-color: $fc;
            width: 95%;
            margin: -0.48rem auto 0;
            padding: 0.2rem 0.15rem 0.2rem 0.47rem;
            @include fj(space-between);
            border-radius: 10px;
            box-shadow: 0px 1px 13.9px 0.6px rgba(181, 184, 188, 0.51);
            .address-detail {
                position: relative;
                width: 2.3rem;
                p {
                    line-height: 1.6;
                    @include sc(0.15rem, $g3);
                    span {
                        display: inline-block;
                        @include sc(0.15rem, $g3);
                    }
                }
                p:nth-of-type(1) {
                    margin-bottom: 0.15rem;
                }
            }
            .address-detail:before {
                content: "";
                position: absolute;
                left: -0.28rem;
                top: 0rem;
                @include bis("../../images/gwc-icon-add.png");
                @include wh(0.16rem, 0.22rem);
            }
            .deletesite {
                display: flex;
                margin-top: 0.1rem;
                span {
                    display: block;
                    @include wh(0.1rem, 0.175rem);
                    @include bis("../../images/path.png");
                }
            }
        }
        .no_address {
            .adddetail {
                margin-top: 0.11rem;
                @include borderRadius(10px);
                background: $fc;
            }
            .ui-padding-block {
                .add-detail {
                    display: block;
                }
                .input-new {
                    @include wh(100%, 0.45rem);
                    padding: 0 0 0 0.12rem;
                    display: flex;
                    @include sc(0.15rem, $g6);
                    border-bottom: 1px solid $bc;
                    span {
                        width: 0.7rem;
                        line-height: 0.45rem;
                        margin-right: 0.14rem;
                    }
                    input {
                        display: flex;
                        width: 2.7rem;
                        font-size: 0.15rem;
                    }
                    .verifies {
                        border-color: #ea3106;
                    }
                    p {
                        @include sc(0.08rem, #ea3106);
                        padding-left: 0.1rem;
                        margin-top: 0.04rem;
                    }
                }
                .input-new:nth-of-type(4) {
                    height: 0.9rem;
                    textarea {
                        padding: 0.15rem 0 0 0;
                        width: 2.7rem;
                        font-size: 0.15rem;
                    }
                }
            }
            .addbutton {
                margin: 0.15rem auto;
                width: 3.5rem;
                button {
                    width: 100%;
                    @include sc(0.15rem, $fc);
                    line-height: 0.45rem;
                    background: $red;
                    font-weight: 700;
                    @include borderRadius(0.23rem);
                }
                .butopacity {
                    transition: all 0.4s;
                    opacity: 1;
                }
            }
        }
    }
    .shop_info {
        margin: 0.15rem auto 0;
        width: 95%;
        background-color: $fc;
        padding: 0.2rem 0.15rem;
        border-radius: 10px;
        overflow: hidden;
        .goods {
            li {
                position: relative;
                margin-bottom: 0.26rem;
            }
            .img {
                display: inline-block;
                border-radius: 5px;
                @include wh(0.95rem, 0.945rem);
                vertical-align: middle;
                margin-left: 0.05rem;
            }
            .goods_info {
                display: inline-block;
                .name {
                    @include sc(0.15rem, $g3);
                    top: -0.1rem;
                    position: relative;
                }
                .price {
                    @include sc(0.18rem, $red);
                    font-weight: bold;
                    position: relative;
                    top: 0.38rem;
                }
            }
            .cart_btns {
                position: absolute;
                right: 0.2rem;
                bottom: 0.25rem;
                .num {
                    display: inline-block;
                    text-align: center;
                    @include wh(0.245rem, 0.245rem);
                    @include sc(0.18rem, $red);
                    vertical-align: top;
                    font-weight: bold;
                }
            }
        }
        .payment_info {
            overflow: hidden;
            padding: 0.15rem 0;
            border-bottom: 1px solid $gd;
            li {
                @include wh(100%, 0.35rem);
                line-height: 0.35rem;
                display: flex;
                p {
                    @include sc(0.15rem, $g6);
                }
                p:nth-child(odd) {
                    float: left;
                }
                p:nth-child(even) {
                    flex: 4;
                    text-align: right;
                }
                p.coupon {
                    color: $g9;
                }
            }
        }
        .totalPrice {
            margin-top: 0.12rem;
            p {
                display: inline-block;
                @include sc(0.2rem, $g3);
                font-weight: bold;
            }
        }
    }
}

.settlement {
    position: fixed;
    bottom: 0;
    line-height: 0.49rem;
    background-color: $fc;
    border-top: solid 1px $bc;
    @include wh(100%, 0.49rem);
    overflow: hidden;
    li {
        float: right;
        text-align: center;
    }
    li:nth-child(2) {
        text-align: left;
        padding-right: 0.12rem;
        @include sc(0.15rem, $g6);
        .red {
            @include sc(0.18rem, $red);
            font-weight: 600;
        }
    }
    li:nth-child(1) {
        width: 30.33%;
        @include sc(0.15rem, $fc);
        background-color: $red;
    }
    .unselected {
        border-radius: 50%;
        display: inline-block;
        border: 1.5px solid $g9;
        @include wh(0.19rem, 0.19rem);
        vertical-align: text-bottom;
    }
    .selectAll {
        @include bis("../../images/selected.png");
        display: inline-block;
        @include wh(0.19rem, 0.19rem);
        vertical-align: text-bottom;
    }
}

.load_more {
    @include wh(100%, 0.36rem);
    @include sc(0.15rem, $g6);
    background-color: $f7;
    text-align: center;
    line-height: 0.36rem;
}