.order_page{
    background-color: #f1f1f1;
    margin-bottom: .49rem;
    p, span, h4{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
}
.nav_tab{
    @include wh(100%,.45rem);
    @include sc(.15rem,$g6);
    background: $fc;
    line-height: .45rem;
    display: flex;
    margin-bottom: .16rem;
    li{
        flex: 1;
        text-align: center;
    }
    .active{
        color: $red;
        border-bottom: .02rem solid $red;
    }
}
.router-slid-enter-active, .router-slid-leave-active {
    transition: all .4s;
}
.router-slid-enter, .router-slid-leave-active {
    transform: translate3d(.4rem, 0, 0);
    opacity: 0;
}