.growth {
    background: #fcfbfc;
    padding-bottom: .85rem;
    .text {
      @include sc(.13rem,$g6);
      line-height: 1.38;
      text-align: justify;
      margin: 0 auto;
    }
    .part:nth-child(odd) {
      background: $fc;
    }
    .part:nth-child(even) {
      background: $bc;
    }
    .header {
      padding: .3rem 0 .25rem;
      position: relative;
      .text {
        width: 85%;
        line-height: 1.54;
      }
      img {
        position: relative;
        z-index: 1;
        margin-bottom: .4rem;
      }
      &:before {
        content: '';
        display: block;
        border-width: 5px;
        position: absolute;
        top: .2rem;
        right: 48%;
        border-style: solid dashed dashed;
        border-color: transparent transparent $gd;
        z-index: 0;
      }
      &:after {
        content: '';
        display: block;
        border-width: 5px;
        position: absolute;
        top: .21rem;
        right: 48%;
        border-style: solid dashed dashed;
        border-color: transparent transparent $fc;
        font-size: 0;
        line-height: 0;
        z-index: 0;
      }
    }
    .part2 {
      position: relative;
      padding: .25rem 0 .5rem;
      .title {
        @include sc(.2rem,$g3);
        text-align: center;
        padding-bottom: .25rem;
      }
      .text {
        width: 85%;
      }
      img {
        position: absolute;
        bottom: -.9rem;
        right: .2rem;
      }
    }
    .part3 {
      padding: .2rem 0.25rem .35rem;
      overflow: hidden;
      .text {
        width: 60%;
      }
    }
    .part4, .part5 {
      overflow: hidden;
      padding: .35rem .25rem 0.2rem;
      .text {
        width: 45%;
      }
    }
    .part4 {
      img {
        margin: -.1rem 0 0 -.12rem;
      }
      .text {
        margin: .05rem 0 0 .15rem;
        width: 38%;
      }
    }
    .part5 {
      img {
        margin: -.2rem .1rem 0 -.12rem;
      }
      .text {
        margin: .05rem 0 0 .15rem;
      }
    }
    .part6, .part7, .part8 {
      overflow: hidden;
      background: $f7 !important;
      .text {
        width: 44%;
        margin-top: .63rem;
        text-align: center
      }
    }
    .part7 {
      background: #fcfbfc !important;
    }
}