.inviteList {
  background-color: $bc;
  position: relative;
  padding-bottom: .5rem;
  .no_list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    color: $g9;
    background-color: $f5;
  }
  .content {
    margin-top: .15rem;
    overflow: auto;
    width: 100%;
    background-color: $fc;
    li {
      @include wh(25%, .775rem);
      float: left;
      border-bottom: .01rem solid $bc;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 76%;
        vertical-align: middle;
        background-color: $bc;
        border-radius: 50%;
        font-size: .12rem;
      }
      img.noImage {
        width: .565rem;
      }
    }
  }
  .invite_btn {
    @include sc(.15rem, $fc);
    @include wh(100%,.45rem);
    position: fixed;
    bottom: 0;
    background: #fc5340;
    line-height: .46rem;
    text-align: center;
    margin: .8rem auto 0;
  }
  .poster{
    position: absolute;
    top: 0;
    z-index: 9999;
    @include wh(100vw,100vh);
    background: rgba(0, 0, 0, 1);
    padding-top: .2rem;
    .close_model {
      position: absolute;
      bottom: .3rem;
      left: 47%;
    }
    p {
      @include sc(.15rem, $fc);
      text-align: center;
      font-weight: bold;
    }

    .invite_landing {
      overflow: hidden;
      position: relative;
      top: 0.3rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.8);
      @include wh(2.16rem, 3.84rem);
      img {
        display: block;
        position: relative;
        right: -1px;
        bottom: -2px;
      }
      .box {
        position: relative;
        width: 100%;
        height: 100%;
        .boxImg{
          @include wh(2.16rem, 3.84rem);
          position: absolute;
          left: 0;
          top: 0;
        }
        .container {
          position: relative;
          z-index: 111;
          margin: 0 auto;
          padding-top: 1.12rem;
          width: 80%;
          text-align: center;
          .title {
            @include sc(.11rem, $g3);
            height: .36rem;
            transform: scale(0.95) translate(.2rem, .05rem);
          }
          .content {
            @include sc(.11rem, $g3);
              transform: scale(0.8);
              width: 88%;
              margin-left: 6%;
          }
          .qrcode {
            @include wh(1.2rem,1.2rem);
            border-radius: .05rem;
            background: #000;
            margin: 0.12rem .26rem;
          }
        }
      }
    }
  }
}