div{ word-wrap: break-word; word-break: normal; }
video::-webkit-media-controls-panel {
  background: rgba(0,0,0,.6);
  height: .23rem;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.origins {
  .header {
    @include wh(100%,6.095rem);
    background: #1d1b1c url('../../images/origins/header.png') no-repeat 0 0;
    background-size: 100%;
    padding: .5rem .22rem;
    .card {
      border-radius: .1rem;
      background-color: rgba(0,0,0,.6);
      @include wh(100%,2.06rem);
      margin: 0 auto .85rem;
      text-align: center;
      padding: .14rem 0 .29rem;
      .title {
        @include sc(.3rem,$fc);
        letter-spacing: .024rem;
        margin-top: .3rem;
      }
      .en {
        @include sc(.07rem,rgba(255, 255, 255, 0.78));
        letter-spacing: 3.4px;
        text-shadow: 0px 1.5px 9px #504d4b;
        transform: scale(.95) translateX(-4.2%);
        width: 110%;
      }
      hr {
        @include wh(2.045rem,.01rem);
        background: rgba(255,255,255,.15);
        border: none;
        margin-top: .07rem;
      }
      .support {
        @include sc(.11rem,$fc);
        line-height: 1.73;
      }
      img {
        width: .42rem;
        border: 1px solid $fc;
        border-radius: 50%;
        padding: .02rem;
      }
    }
    .info {
      @include wh(100%,2.315rem);
      border-radius: .1rem;
      background-color: $fc;
      border: solid .04rem #a7d646;
      margin: 0 auto;
      padding: .45rem 0 0 .1rem;
      position: relative;
      li {
        margin-bottom: .12rem;
        @include sc(.128rem,#a7d646);
        font-weight: bold;
        line-height: 1.49;
        display: flex;
        p {
          @include sc(.118rem,$g3);
          line-height: 1.62;
          font-weight: bold;
          margin-left: .225rem;
          display: inline-block;
          width: 60%;
          vertical-align: top;
        }
      }
      .margin-b-2 {
        margin-bottom: .22rem;
      }
      img {
        position: absolute;
        top: .1rem;
        right: .14rem;
        @include wh(1.16rem,1.07rem);
      }
    }
  }
  .title {
    margin: 0 auto;
    text-align: center;
    img {
      @include wh(.42rem,.41rem);
      display: block;
      margin: 0 auto;
    }
    .text_cn {
      line-height: 0.83;
      margin: .12rem 0 .08rem;
      font-size: .24rem;
    }
    .text_en {
      line-height: 1.63;
      font-size: .12rem;
    }
  }
  .growth {
    padding: .32rem .3rem 0.1rem .18rem;
    .title {
      .text_cn, .text_en {
        color: #7eaf17;
      }
    }
    ul {
      margin: .23rem auto 0;
      li {
        margin-bottom: .31rem;
        height: 1.06rem;
        clear: both;
        .left {
          text-align: center;
          padding-top: .15rem;
          padding-left: .1rem;
          width: 36%;
          .step {
            @include wh(.925rem,.355rem);
            background: url('../../images/origins/box-bg.png') no-repeat 0 0;
            background-size: 100%;
            line-height: .355rem;
            @include sc(.17rem,$fc);
            padding-right: .03rem;
            position: relative;
            margin-bottom: .09rem;
            &:after {
              content: '';
              display: block;
              border-radius: 60%;
              position: absolute;
              @include wh(.06rem,.065rem);
              background-color: $fc;
              border: solid 2px #a7d646;
              right: -.15rem;
              top: .11rem;
            }
          }
          .text {
            @include sc(.13rem,$g3);
            margin-left: -.23rem;
          }
          .time {
            @include sc(.13rem,rgba(102, 102, 102, 0.7));
            margin-left: -.23rem;
          }
        }
        .right {
          width: 60.5%;
          img {
            float: right;
            width: 100%;
          }
        }
      }
    }
  }
  .video {
    position: relative;
    img {
      position: absolute;
      top: 0;
      width: 100%;
      // pointer-events: none;
    }
    video {
      @include wh(100%,1.56rem);
      margin-top: .08rem;
      display: block;
    }
    .desr {
      @include wh(100%,.35rem);
      line-height: .35rem;
      background: $fc;
      @include sc(.13rem,$g3);
      text-align: center;
    }
    .bg-green {
      background: #a6d543;
    }
    .ft-white {
      color: $fc;
    }
  }
  .genealogy, .feed {
    background-color: #272626;
    padding: .2rem .2rem 0.05rem;
    .title {
      .text_cn {
        color: $fc;
      }
      .text_en {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .video {
      margin-top: .15rem;
    }
    .text {
      margin-top: .25rem;
      p {
        @include sc(.15rem, $fc);
        line-height: 1.39;
        margin-bottom: .02rem;
        font-weight: bold;
      }
      .ft-18 {
        font-size: .18rem;
      }
      .desr_text {
        @include sc(.13rem, $fc);
        line-height: 1.87;
        margin-bottom: .25rem;
      }
    }
  }
  .feed {
    background: $fc;
    padding-top: .3rem;
    .title {
      .text_cn, .text_en {
        color: #7eaf17;
      }
    }
    .text {
      margin-bottom: .4rem;
      p {
        @include sc(.15rem,$g3);
        font-weight: bold;
      }
      .desr_text {
        @include sc(.13rem,$g6);
        line-height: 1.8;
      }
    }
    .video {
      margin-top: .25rem;
    }
    ul {
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      li {
        float: left;
        width: 27%;
        text-align: center;
        margin: 0 auto;
        img {
          border-radius: 50%;
          border: 4px solid #292323;
          background: #292323;
          width: 100%;
          display: block;
          margin-bottom: .025rem;
        }
        span {
          background: url('../../images/origins/formula_1.png') no-repeat 0.035rem .01rem;
          background-size: 100%;
          @include wh(100%,.14rem);
          border-radius: .35rem;
          display: block;
          margin: 0 auto;
        }
        p {
          line-height: 1.5;
          @include sc(.12rem,$g6);
          margin-top: .045rem;
          padding-left: .1rem;
        }
      }
      li:nth-child(2) {
        margin: 0 8.2%;
      }
    }
    .tip {
      line-height: 1.92;
      @include sc(.13rem,$g3);
      font-weight: bold;
      text-align: center;
      margin: .2rem auto .23rem;
    }
  }
  .growth-environment{
    background: #e6e1e3;
    text-align: center;
    padding: 0 .2rem .22rem;
    .video_box{
      position: relative;
      width: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // pointer-events: none;
      }
      video{
        width: 100%;
        height: 1.56rem;
        margin-top: .08rem;
        display: block;
      }
      p{
        @include sc(.13rem, #333333);
        line-height: .35rem;
        background: $fc;
      }
    }
    .abstract{
      img{
        padding-top: .2rem;
      }
      .subject_c{
        @include sc(.24rem,#333333);
      }
      .subject_e{
        @include sc(.12rem,#999999);
        margin-bottom: .21rem;
      }
    }
    ul{
      margin-top: .53rem;
      li{
        @include wh(100%, 1.86rem);
        background: #afafaf;
        border-radius: .05rem;
        @include sc(.13rem, $fc);
        margin-bottom: .15rem;
      }
      li:nth-child(odd){
        padding: .06rem .125rem .06rem .06rem;
        img{
          float: left;
          @include wh(2.75rem, auto);
        }
        span{
          float: right;
          width: .205rem;
          font-size: .13rem;
          line-height: 1;
          padding-top: .1rem;
          position: relative;
          padding-left: .08rem;
        }
        span:before{
          position: absolute;
          content: '';
          @include wh(.015rem,.49rem);
          border-radius:.01rem;
          left: 0;
          top: 0.1rem;
          background: $fc;
        } 
      }
      li:nth-child(even){
        padding: .06rem .06rem .06rem .125rem;
        img{
          float: right;
          @include wh(2.75rem, auto);
        }
        span{
          float: left;
          width: .205rem;
          font-size: .13rem;
          line-height: 1;
          padding-top: .1rem;
          position: relative;
          padding-right: .08rem;
        }
        span:after{
          position: absolute;
          content: '';
          @include wh(.015rem,.49rem);
          border-radius:.01rem;
          right: 0;
          top: 0.1rem;
          background: $fc;
        } 
      }
    }
  }
  .test-proof{
    background: #1a1a19;
    text-align: center;
    padding: 0 .27rem .2rem;
    .abstract{
      img{
        padding-top: .2rem;
      }
      .subject_c{
        @include sc(.24rem,$fc);
      }
      .subject_e{
        @include sc(.12rem,rgba(255, 255, 255, 0.6));
        margin-bottom: .21rem;
      }
    }
    .imgBox{
      img{
        width: 100%;
        display: block;
        margin: 0.14rem auto;
      }
    }
    .tip{
      @include sc(.13rem,$fc);
    }
  }
  .pork-segmentation{
    background: #ffffff;
    padding-bottom: 40px;
    text-align: center;
    padding-left: .12rem;
    padding-right: .12rem;
    .padding-top-20{
      padding-top: .2rem;
    }
  }
  .abstract{
    text-align: center;
    img{
      display: block;
      margin: 0 auto;
      width: .42rem;
    }
    .subject_c{
      font-size: .24rem;
      margin: .12rem auto .08rem;
      line-height: .2rem;
    }
    .subject_e{
      font-size: .12rem;
    }
  }
}